
.footer {
    background-color: rgb(33, 30, 30);
}

.footer-container {
    width: 100%;
    padding: 70px 0px 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    padding: 7px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 50%;
}

.social-icons a i {
    font-size: 1.4em;
    color: #000000;
    opacity: 0.9;
}

.social-icons a:hover {
    background-color:rgb(33, 30, 30);
    transition: 0.5s;
}

.social-icons a:hover i {
    color: #ffffff;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
}

.footer-nav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    opacity: 1;
}

.footer-bottom {
    background-color: rgb(36, 34, 34);
    padding: 20px;
    text-align: center;
}

.footer-bottom p {
    color: #ffffff;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}